/* default body styling */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* default Styling for textareas */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

/* top border for time blocks */ 
.row {
  border-top: 1px solid white;
}

/* dashed border for time slots */ 
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* solid border for main calendar container */ 
.container-fluid{
  border-top: 10px solid black;
  margin: 10px;
}

/* center appointment confirmation text */ 
.confirmation{
  text-align: center;
}

/* styling for past, present, and future events */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/* override bootstrap styling to reduce padding on bottom */
.p-5{
  padding-bottom: 0rem!important;
}

/* styling for saveBtn */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* set hover property for save buttons */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
